html {
  font-size: 80%;
}

body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373737;
}

.full-body {
  background-color: #f2f2f0;
  
}

.ui.checkbox label, .ui.checkbox+label {
  color: #373737;
}

.ui.container {
  display: block;
  max-width: 100%!important;
  /* background-color: white; */
  margin-top: 13px;
}

.background {
  background-color: white;
  padding: 20px;
  
  
}



button:disabled {
  opacity: 0.5;
}

.primary-reading{
  padding: 8px;
}

.primary-reading h5{
  margin-bottom: 5px;
}

.primary-reading:hover {
  background-color: #f2f2f0;
}

.further-reading{
  padding: 8px;
}

.base-goals{
  padding: 2px 4px 2px 4px;
}



.base-goals:hover{
  background-color: #f2f2f0;
}


.key-questions{
  padding: 2px 4px 2px 4px;
}



.key-questions:hover{
  background-color: #f2f2f0;
}


.extensions{
  padding: 2px 4px 2px 4px;
}



.extensions:hover{
  background-color: #f2f2f0;
}

.skill-goals{
  padding: 2px 4px 2px 4px;
}



.skill-goals:hover{
  background-color: #f2f2f0;
}





.further-reading h5{
  margin-bottom: 5px;
}

.further-reading:hover {
  background-color: #f2f2f0;
}

.active {
  background-color: #f2f2f0;
}

.lex {
  padding: 5px 0px;
  border-bottom: 1px solid #f2f2f0;
}

.lex:hover{
  background-color: #f2f2f0;
}

.lex .active{
  background-color: #f2f2f0;
}

.filter-group {
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}


.field label.active {
  background-color: inherit;
}

.quote {
  padding: 40px 5px 5px 5px;
  font-style: italic;
}



.quoteContainer {

  background-color: #f2f2f0;
}

.top-padding {
  padding: 15px 0px 0px 0px;
}

.readings .title{
  text-align: center;
}

.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before {
  background: #f2f2f0;
  /* border-color: none !important; */
}


/* 
.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before :active{
  background: #eee !important;
  border-color: none !important;
}

.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before :hover{
  background: #eee !important;
  border-color: none !important;
} */

/* .pop-up {
  padding: 15px;
} */

.pop-up li {
  padding-bottom: 5px;
}

.pop-up ul {
  padding: 0px 0px 0px 15px;
}



.icon-right{
  float: right;
}

/* 
.performance-list .ui.card {
  box-shadow: none;
}

.performance-list .header {
  text-align: center;
} */


.summer-reading{
 
    padding: 10px 4px 10px 4px;
    margin-bottom: 10px;

}

.summer-reading:hover{
  background-color: #f2f2f0;
}

.performance {
  padding-bottom: 20px;
}

.caps {
  text-align: center;
  border-top: 1px solid #f2f2f0;
  border-bottom: 1px solid #f2f2f0;
  padding: 10px 0px;
  text-transform: uppercase;
}

.ui.divider:not(.vertical):not(.horizontal) {
  border-top: 1px solid #f2f2f0;
  border-bottom: 1px solid #f2f2f0;
}

/* .caps:hover {

  background-color: #f2f2f0;
 
} */

.lexis-cols {
  padding-top: 0px !important;

}



/* MASONRY


*/
/* .masonry.grid {
  column-count: 3;
  display: block;
} */

.masonry{
  column-count: 3;
  display: block;
  /* break-inside: avoid; */
  /* display: flex; */
}

.skills{
  padding-bottom: 20px;
  break-inside: avoid;
  /* display: flex; */
}

.goals h5 {
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f0;
  margin-bottom: 10px;
}

.nav{
  background-color: #373737;
  color: white;
}

.logo{
  text-align: center;
}


.footer{
  height: 100px;
  background-color: #373737;
  color: white;
  padding: 20px

}


.footer p{
 
  padding-top: 20px

}

.summer-reading h4 {
  color: #373737;
}

.list-item{
  /* width: 100%; */
  padding: 2px 4px 2px 4px;
  float: left;
  
}

.list-item:hover{
  background-color: #f2f2f0;
}

.checked{
  background-color: #f2f2f0;
}

.activeIcon{
  color: green;
}

/* 
.lexis-guide{
} */

/* .lexis-guide:hover{
  background-color: #f2f2f0;
} */


.hard-right{
  float: right;
}

/* 
body {
  font:16px/22px 'segoe ui', sans-serif;
}
a {
  color:#c33;
  text-decoration:none;
  transition:.25s;
}
a:hover {
  color:#f33 
} */
/* ul.ed {
  padding:1em;
}
ul.ed li {
  overflow:hidden;
  padding:4px 1em 4px 0;
  margin-right:8px;
  background:#ccc;
  white-space:nowrap;
  display:inline-block;
  border-radius:22px;
}
ul.ed li.sm {
  padding-right:0;
}
ul.ed .ico {
  margin:0 2px 0 6px;
  vertical-align:middle;
}
ul.ed .ico i {
  display:none;
}
ul.ed i.nfo {
  opacity:0;
  padding-right:0;
  max-width:0;
  font-style:normal;
  display:inline-block;
  transition:.5s;
}
li:hover i.nfo {
  opacity:1;
  padding-right:1em;
  max-width:100px;
  transition:.5s;
} */


/* 

.ed {
  padding:1em;
}
.ed li {
  overflow:hidden;
  padding:4px 1em 4px 0;
  margin-right:8px;
  background:#ccc;
  white-space:nowrap;
  display:inline-block;
  border-radius:22px;
}
.ed li.sm {
  padding-right:0;
}
.ed .ico {
  margin:0 2px 0 6px;
  vertical-align:middle;
}
.ed .ico i {
  display:none;
}
.ed i.nfo {
  opacity:0;
  padding-right:0;
  max-width:0;
  font-style:normal;
  display:inline-block;
  transition:.5s;
}
li:hover i.nfo {
  opacity:1;
  padding-right:1em;
  max-width:100px;
  transition:.5s;
}



 */

/* 
button{
  
   color: red;
   transition: all 0.3s ease 0s;
 
 }
 
 
 button[title]:hover:after {
   
   content: attr(title);
   padding-left: 5px;
   color: black;
   
 }
 
 button.active[title]:after  {
   content: attr(title);
   padding-left: 5px;
   /* position: absolute; */
   /* color: white; */
   
 /* } */ 


.ed button {
  overflow:hidden;
  padding:4px 1em 4px 0;
  margin-right:8px;
  background:#ccc;
  white-space:nowrap;
  display:inline-block;
  border-radius:22px;
}
.ed button.sm {
  padding-right:0;
}
.ed .ico {
  margin:0 2px 0 6px;
  vertical-align:middle;
}

.ed .nfo {
  opacity:0;
  padding-right:0;
  max-width:0;
  font-style:normal;
  display:inline-block;
  transition:.5s;
}
button:hover .nfo {
  opacity:1;
  padding: 0px 6px 0px 5px;
  max-width:100px;
  transition:.5s;
}

button.active .nfo  {
  opacity:1; 
  padding: 0px 6px 0px 5px;
  
  max-width:100px;
  
  transition:.5s;
  
  /* transition:.5s; */
}

/* button[title]:hover:after {
  content: attr(title);
} */

/* * {
  min-height: 0;
  min-width: 0;
} */


.slick-prev {
  left: 25px !important;
  z-index: 100;
  top: 35% !important;
}

.slick-next {
  right: 25px !important;
  top: 35% !important;
  
}