html {
  font-size: 80%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}

.primary-reading{
  padding: 8px;
}

.primary-reading h5{
  margin-bottom: 5px;
}

.primary-reading:hover {
  background-color: #eeeeee;
}

.further-reading{
  padding: 8px;
}

.base-goals{
  padding: 2px 4px 2px 4px;
}



.base-goals:hover{
  background-color: #eeeeee;
}


.lexis-guide{
  padding: 2px 4px 2px 4px;
}

.lexis-guide:hover{
  background-color: #eeeeee;
}

.further-reading h5{
  margin-bottom: 5px;
}

.further-reading:hover {
  background-color: #eeeeee;
}

.active {
  background-color: #eeeeee;
}

.field label.active {
  background-color: inherit;
}

.quote {
  padding: 40px 5px 5px 5px;
  font-style: italic;
}

.quoteContainer {

  background-color: #eeeeee;
}

.top-padding {
  padding: 15px 0px 0px 0px;
}

.readings .title{
  text-align: center;
}

.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before {
  background: #eee !important;
  /* border-color: none !important; */
}


/* 
.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before :active{
  background: #eee !important;
  border-color: none !important;
}

.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before :hover{
  background: #eee !important;
  border-color: none !important;
} */

/* .pop-up {
  padding: 15px;
} */

.pop-up li {
  padding-bottom: 5px;
}

.pop-up ul {
  padding: 0px 0px 0px 15px;
}



.icon-right{
  float: right;
}


.performance-list .ui.card {
  box-shadow: none;
}

.performance-list .header {
  text-align: center;
}


.summer-reading{
  padding-bottom: 20px;
}